* {
    margin: 0;
    padding: 0;
}

.wrapper {
    font-family: Tahoma, sans-serif;
    background-color: black;
    color: rgb(177, 177, 177);
}

h1 {
    font-size: 1rem;
    display: flex;
    justify-content: center;
}

.info {
    margin-top: 16px;
    background-color: brown;
    color: #fff;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
}

.word {
    font-size: 1.2rem;
}
